<nav xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <ul>
            <li>
                <strong>
                    <a href="/" style="text-decoration: none; display: flex; align-items: center; gap: 10px;">
                        <img th:src="@{/logo.png}" alt="Логотип ИУЦТ" style="height: 40px; width: auto;">
                        Телефонный справочник ИУЦТ
                    </a>
                </strong>
            </li>
        </ul>
        <ul>
            <li sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')"><a href="/employees/all">Сотрудники</a></li>
            <li sec:authorize="hasRole('ADMIN')"><a href="/employees/inactive">Удалённые</a></li>
            <li sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')">
            <a href="/employees/add">Добавить сотрудника</a>
            </li>
           <li sec:authorize="hasRole('ADMIN')"><a href="/moderators/all">Пользователи</a></li>
           <li sec:authorize="hasRole('ADMIN')"><a href="/users/register">Добавить пользователя</a></li>
            <li sec:authorize="hasRole('ADMIN')"><a href="/departments/all">Отделы</a></li>
            <li sec:authorize="hasRole('ADMIN')"><a href="/departments/add">Добавить отдел</a></li>
            <li sec:authorize="isAuthenticated()">
    <span sec:authentication="name"></span>
</li>
            <li sec:authorize="isAuthenticated()">
                <form th:method="post" th:action="@{/users/logout}" style="margin: 0;">
                    <button type="submit" class="contrast outline">Выйти</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
