<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<div th:replace="fragments/navbar"></div>
<main class="container">
    <hgroup>
    <h1>Все сотрудники</h1>
    <p>Просмотрите всех сотрудников ИУЦТ</p>
    </hgroup>
    <li><a href="/employees/add">Добавить сотрудника</a></li>
    <form method="get" action="/employees/all">
        <div class="grid">
            <input type="search" 
                   name="search" 
                   th:value="${search}"
                   placeholder="Поиск сотрудников..." 
                   aria-label="Поиск">
            <button type="submit">Найти</button>
        </div>
    </form>
    <div th:each="e : ${allEmployees}" class="card">
        <h3 th:text="${e.lastName} + ' ' + ${e.firstName} + ' ' + ${e.middleName}"></h3>
        <h3 th:text="${e.departmentShortName}"></h3>
        <p><strong>Рабочий телефон:</strong> <span th:text="${e.workPhone}"></span></p>
        <p><strong>Личный телефон:</strong> <span th:text="${e.personalPhone}"></span></p>
        <p><strong>Email:</strong> <span th:text="${e.email}"></span></p>
        <p><strong>Кабинет:</strong> <span th:text="${e.officeNumber}"></span></p>
        <p th:if="${e.additionalInfo}"><strong>Telegram:</strong> <a th:href="'https://t.me/' + ${e.additionalInfo}" th:text="'@' + ${e.additionalInfo}"></a></p>
        <p th:if="${e.statusNote}"><strong>Дополнительная информация:</strong> <a th:text="${e.statusNote}"></a></p>
    </div>
    <p th:if="${#lists.isEmpty(allEmployees)}" class="text-center">
        <em>Сотрудники не найдены. Добавьте новых сотрудников, чтобы начать!</em>
    </p>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>